fastapi
ddtrace
opentelemetry-api
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-sdk
openai
pytest
python-dotenv
SQLAlchemy
psycopg[binary]
uvicorn[standard]
